.todo {
  margin-top: 3rem;
  width: 80%;
  height: 10rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  background-color: #232747;
  color: #ffffff;
  border-radius: 20px;
  margin-bottom: 3rem;
}

.todo__heading {
  font-size: 2.5rem;
  letter-spacing: 4px;
  text-transform: uppercase;
}

.todo__form {
  width: 100%;
  display: flex;
  justify-content: center;
}

.todo__input {
  width: 50%;
  padding: 0.5rem 1rem;
  font-size: 1rem;
}

.todo__button {
  padding: 0.5rem 1rem;
  font-weight: bolder;
  font-size: 1rem;
  margin-left: 1rem;
}

.todo__button:hover {
    cursor: pointer;
}
